*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.exe
*.out
*.app
*.db
*.key
*.pem
*.crt
*.vs
**/.DS_Store
**/Thumbs.db
build
out
.temp
.n19
cmake-build-*/
**/.idea/
**/.vscode/
